body {
    background-color: #dbe8ec !important;
    }

div.collectData {
  margin: 110px auto;
  width: 600px;
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
  background-color: #091d56 !important,
}

table, th, td {
    border: 1px solid black;
    }

form div + div {
  margin-top: 1em;
}

.taskContainer {
  display: flex;
  flex-direction: column;
}
