
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Welcome to MusicArtists!!!</title>
    <!-- <link rel = "stylesheet" href = "../static/style.css"> -->
    <link rel = "stylesheet" type=text/css href="{{ url_for('static', filename='style.css') }}">
  </head>

  <body>
    <header>
      <h1>MusicArtists!</h1>
    </header><hr>
    <div class = "collectData">
      <h3 id = "formHeading">Artist Info</h3>
      <form id = "taskForm">
        <!-- <div>
            <label for = "title">Title:</label>
            <input type = "text" id = "title" name = "title" minlength="1" maxlength="32" required>
        </div> -->
        <table cellspacing="1">
            <tr>
                <th style="width: 195px;">Releases</th>
                <th style="width: 400px;">Songs</th>
            </tr>
            {% for segment in segment_details %}
                <tr>
                    <td>{{segment[0]}}</td>
                    <td>{{segment[1]}}</td>
                </tr>
            {% endfor %}
        </table>
      </form>
    </div>
  </body>
</html>
